<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav> 
        <a href="/log-out">Logout</a>
    </nav>
    <main>
        <h1>Welcome to HomePage  <%= username %> </h1>
        <button id="create-folder-btn">Add a Folder</button>
        <dialog id="create-folder">
            <form action="/create-folder" method="post">
              <h1>Create Folder</h1>
              <label for="folderName">Name</label>
              <input type="text" name="folderName" required />
              <button type="submit">Create</button>
            </form>
            <button id="close-popup">Close</button>
          </dialog>

          <h2>Folders</h2>
          <% if (folders.length > 0) { %>
            <% folders.forEach(folder => { %>
                <a href="/<%= folder.id %>/folder"><%= folder.name %></a>
            <% }) %>
        <% } else { %> 
            <p>No folder Yet, click the button below to create a folder</p>
            <button id="create-folder-btn">Create a Folder</button>
        <% } %>
    </main>
    <script>
        const folderDialogue = document.getElementById("create-folder");
        const createFolderBtn = document.getElementById("create-folder-btn");
        const closeBtn = document.getElementById("close-popup");

        createFolderBtn.addEventListener("click", () => {
            folderDialogue.showModal();
        })

        closeBtn.addEventListener("click", () => {
            folderDialogue.close();
        })
    </script>
</body>

</html>