<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cave</title>
</head>
<body>
    <p>Welcome to Cave, Your no.1 Secure Storage</p>
    <a href="/log-in">Log-in</a>
    <a href="/sign-up">Sign-up</a>
</body>
</html>